@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.perspective-1000 { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.flip-y-180 { transform: rotateY(180deg); }
